/* Estilos para pantallas más grandes (ej. tabletas y computadoras) */
@media screen and (min-width: 600px) {
    /* Estilos para pantallas más grandes aquí */
}

/* Estilos para pantallas más pequeñas (ej. dispositivos móviles) */
@media screen and (max-width: 599px) {
    /* Estilos para pantallas más pequeñas aquí */
}

body {
    font-size: 16px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #B2FFFF;
    padding: 20px 10px;
}

.logo {
    width: 150px;
    padding: 5px;
}

.caja {
    width: 100%;
    max-width: 940px;
    margin: 25px auto;
    position: relative;
}

.Baner {
    width: 500px;
    padding-right: 940px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    50% {
        transform: translateX(5px) rotate(5deg);
    }

    75% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.animation__shake {
    animation: shake 1500ms infinite;
}

nav {
    text-align: right;
}

nav li {
    display: inline;
    margin: 0 15px;
    padding: 30px 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.productos {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.tiempo,
.Permiso,
.horarios {
    width: 30%;
}

.productos li:hover {
    border-color: #c78c19;
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(Imagenes/bg.jpg);
    padding: 40px;
}

.logoCss {
    width: 5%;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

main {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

/* Resto de tus estilos... */

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: green;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkgreen;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: blue;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid green;
    padding: 8px 15px;
}

/*Aquí inicia el CSS para nuestra home*/

body {
    background-color: #fff; /* Color de fondo claro */
    color: #333; /* Color de texto oscuro */
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode header {
    background-color:#808080;
    padding: 20px 10;
}
.dark-mode body {
    background-color: #333; /* Color de fondo oscuro */
    color: #fff; /* Color de texto claro */
}

/* Añadir estilos específicos para el modo oscuro si es necesario */
.dark-mode h1 {
    color: #FFFFFF; /* Cambiar color del título en modo oscuro */
}

/* Otros estilos... */

.titulo-principal{
    text-align: center;
    font-size: 3em;
    margin: 3 0 2em;
    clear:left;
}

.principal p{
    margin: 0 0 1em;

}

.principal strong{

    font-weight: bold;
}

.principal em{

    font-style: italic;
}

.LogoOficina{
    width: 250px;
    float:right;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 8em ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.video{
    width: 560px;
    margin: 1em auto;
}

.imagenArea {
    width: 15%;
}

 .bandera {
      width: 10% 
}

